# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
- Most popular langauges for Data Science
- Execution environments for Data Science projects
- Development environments for Data Science projects

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Julia
5. C++
6. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit
5. Keras

| Data Science Tools |
| ------------------ |
| Jupyter |
| RStudio |
| Apache Zeppelin |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#### This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
#### This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Rana Amir Abdul Basit